body {
background-color: rgba(95, 134, 114, 0.514);
color:rgba(75, 65, 87, 0.637);
font-family: Lucida Console;
font-size: 15px;
}

h1 {
    color:rgb(134, 123, 123);
    font-family: Lucida Console;
    font-size: 40px;
    text-align: center;
}

a {
    color:rgb(80, 124, 168)
}